﻿<div class="container">
    <div class="w3ls_footer_grid">
        <div class="col-md-6 w3ls_footer_grid_left">
            <div class="w3ls_footer_grid_left1">
                <h2>Subscribe to us</h2>
                <div class="w3ls_footer_grid_left1_pos">
                    <form action="#" method="post">
                        <input type="email" name="email" placeholder="Your email..." required="">
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 w3ls_footer_grid_right">
            <a href="~/movie/index.html"><h2>One<span>Movies</span></h2></a>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-5 w3ls_footer_grid1_left">
        <p>&copy; 2016 One Movies. All rights reserved | Design by <a href="~/movie/http://w3layouts.com/">W3layouts</a></p>
    </div>
    <div class="col-md-7 w3ls_footer_grid1_right">
        <ul>
            <li>
                <a href="~/movie/genres.html">Movies</a>
            </li>
            <li>
                <a href="~/movie/faq.html">FAQ</a>
            </li>
            <li>
                <a href="~/movie/horror.html">Action</a>
            </li>
            <li>
                <a href="~/movie/genres.html">Adventure</a>
            </li>
            <li>
                <a href="~/movie/comedy.html">Comedy</a>
            </li>
            <li>
                <a href="~/movie/icons.html">Icons</a>
            </li>
            <li>
                <a href="~/movie/contact.html">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>