﻿<div class="container">
    <div class="w3layouts_logo">
        <a href="~/movie/index.html"><h1>One<span>Movies</span></h1></a>
    </div>
    <div class="w3_search">
        <form action="#" method="post">
            <input type="text" name="Search" placeholder="Search" required="">
            <input type="submit" value="Go">
        </form>
    </div>
    <div class="w3l_sign_in_register">
        <ul>
            <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 123 345 653</li>
            <li><a href="~/movie/#" data-toggle="modal" data-target="#myModal">Login</a></li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>