﻿
@using WebAppPeliculas.Areas.Identity.Pages.Account;
@model LoginModel

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            Sign In & Sign Up
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <section>
            <div class="modal-body">
                <div class="w3_login_module">
                    <div class="module form-module">
                        <div class="toggle">
                            <i class="fa fa-times fa-pencil"></i>
                            <div class="tooltip">Click Me</div>
                        </div>
                        <div class="form">
                            <h3>Login to your account</h3>
                            <form id="account" method="post">
                                <div class="form-group">
                                    Email
                                    <input type="text" asp-for="Input.Email" class="form-control" placeholder="Correo" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    Password
                                    <input type="password" asp-for="Input.Password" class="form-control" placeholder="Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Log in</button>
                                </div>
                            </form>
                        </div>
                        <div class="form">
                            <h3>Create an account</h3>
                            <form action="#" method="post">
                                <input type="text" name="Username" placeholder="Username" required="">
                                <input type="password" name="Password" placeholder="Password" required="">
                                <input type="email" name="Email" placeholder="Email Address" required="">
                                <input type="text" name="Phone" placeholder="Phone Number" required="">
                                <input type="submit" value="Register">
                            </form>
                        </div>
                        <div class="cta"><a href="~/movie/#">Forgot your password?</a></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>