﻿<div class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header navbar-left">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <nav>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="~/movie/index.html">Home</a></li>
                    <li class="dropdown">
                        <a href="~/movie/#" class="dropdown-toggle" data-toggle="dropdown">Genres <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <li>
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="~/movie/genres.html">Action</a></li>
                                        <li><a href="~/movie/genres.html">Biography</a></li>
                                        <li><a href="~/movie/genres.html">Crime</a></li>
                                        <li><a href="~/movie/genres.html">Family</a></li>
                                        <li><a href="~/movie/horror.html">Horror</a></li>
                                        <li><a href="~/movie/genres.html">Romance</a></li>
                                        <li><a href="~/movie/genres.html">Sports</a></li>
                                        <li><a href="~/movie/genres.html">War</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="~/movie/genres.html">Adventure</a></li>
                                        <li><a href="~/movie/comedy.html">Comedy</a></li>
                                        <li><a href="~/movie/genres.html">Documentary</a></li>
                                        <li><a href="~/movie/genres.html">Fantasy</a></li>
                                        <li><a href="~/movie/genres.html">Thriller</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="~/movie/genres.html">Animation</a></li>
                                        <li><a href="~/movie/genres.html">Costume</a></li>
                                        <li><a href="~/movie/genres.html">Drama</a></li>
                                        <li><a href="~/movie/genres.html">History</a></li>
                                        <li><a href="~/movie/genres.html">Musical</a></li>
                                        <li><a href="~/movie/genres.html">Psychological</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="~/movie/series.html">tv - series</a></li>
                    <li><a href="~/movie/news.html">news</a></li>
                    <li class="dropdown">
                        <a href="~/movie/#" class="dropdown-toggle" data-toggle="dropdown">Country <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <li>
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="~/movie/genres.html">Asia</a></li>
                                        <li><a href="~/movie/genres.html">France</a></li>
                                        <li><a href="~/movie/genres.html">Taiwan</a></li>
                                        <li><a href="~/movie/genres.html">United States</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="~/movie/genres.html">China</a></li>
                                        <li><a href="~/movie/genres.html">HongCong</a></li>
                                        <li><a href="~/movie/genres.html">Japan</a></li>
                                        <li><a href="~/movie/genres.html">Thailand</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="~/movie/genres.html">Euro</a></li>
                                        <li><a href="~/movie/genres.html">India</a></li>
                                        <li><a href="~/movie/genres.html">Korea</a></li>
                                        <li><a href="~/movie/genres.html">United Kingdom</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="~/movie/short-codes.html">Short Codes</a></li>
                    <li><a href="~/movie/list.html">A - z list</a></li>
                </ul>
            </nav>
        </div>
    </nav>
</div>