﻿@model WebAppPeliculas.Models.Copia

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Copia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deteriorada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deteriorada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.formatos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.formatos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio_alquiler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio_alquiler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.PeliculaID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CopiaID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
