﻿@model WebAppPeliculas.Models.Copia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Copia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deteriorada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deteriorada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.formatos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.formatos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio_alquiler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio_alquiler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.PeliculaID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CopiaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
