﻿@model WebAppPeliculas.Models.Copia

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Copia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CopiaID" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deteriorada" /> @Html.DisplayNameFor(model => model.Deteriorada)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="formatos" class="control-label"></label>
                <select asp-for="formatos" class="form-control">
                    <option value="VHS">VHS</option>
                    <option value="DVD">DVD</option>
                    <option value="DIGITAL">DIGITAL</option>
                </select>
                <span asp-validation-for="formatos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio_alquiler" class="control-label"></label>
                <input asp-for="Precio_alquiler" class="form-control" />
                <span asp-validation-for="Precio_alquiler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeliculaID" class="control-label"></label>
                <select asp-for="PeliculaID" class="form-control" asp-items="ViewBag.PeliculaID"></select>
                <span asp-validation-for="PeliculaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
