﻿@model IEnumerable<WebAppPeliculas.Models.Copia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Deteriorada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.formatos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_alquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Deteriorada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.formatos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio_alquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pelicula.PeliculaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CopiaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CopiaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CopiaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
