﻿@model WebAppPeliculas.Models.Prestamo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h1>@ViewBag.ClienteID</h1>
<h4>Prestamo</h4>
<h3>@ViewBag.prestamos</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha_Prestamos" class="control-label"></label>
                <input asp-for="Fecha_Prestamos" class="form-control" />
                <span asp-validation-for="Fecha_Prestamos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Tope" class="control-label"></label>
                <input asp-for="Fecha_Tope" class="form-control" />
                <span asp-validation-for="Fecha_Tope" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_entrega" class="control-label"></label>
                <input asp-for="fecha_entrega" class="form-control" />
                <span asp-validation-for="fecha_entrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteID" class="control-label"></label>
                <select asp-for="ClienteID" class ="form-control" asp-items="ViewBag.ClienteID"></select>
            </div>
            <div class="form-group">
                <label asp-for="CopiaID" class="control-label"></label>
                <select asp-for="CopiaID" class ="form-control" asp-items="ViewBag.CopiaID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
