﻿@model IEnumerable<WebAppPeliculas.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Prestamos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Tope)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_entrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Copia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Prestamos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Tope)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_entrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Copia.CopiaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrestamoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrestamoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrestamoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
