﻿@model WebAppPeliculas.Models.Pelicula

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Critica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Critica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caratula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caratula)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PeliculaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
