﻿@model IEnumerable<WebAppPeliculas.Models.Pelicula>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Titulo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Anio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Critica)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Caratula)
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Anio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Critica)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Caratula)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.PeliculaID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.PeliculaID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.PeliculaID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Page level plugins -->
    <script src="~/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/admin/js/demo/datatables-demo.js"></script>
}
